+comment('general style')
+font('Circe-Bold', 'Circe-Bold')
+font('Circe-ExtraBold', 'Circe-ExtraBold')
+font('Circe-ExtraLight', 'Circe-ExtraLight')
+font('Circe-Regular', 'Circe-Regular')
+ic
@each $ic in logo, subway_red, subway_orange, adv1, adv2, adv3, adv4, adv5, adv6, sliderright, sliderleft
  .ic-#{$ic}
    +sb(#{$ic})
+comment("home page style")
html
  overflow-x: hidden
  height: 100%
body
  padding-right: 0 !important  
  color: #000
a,
a:hover,
a:focus
  color: inherit
  text-decoration: none
  outline: none
.content
  padding-left: 45px
.modal
  &__map
    .modal__close
      opacity: 1
      position: absolute
      right: -25px
      top: -25px  
+comment("header style")
.header
  padding-top: 40px
  &__navbar
    margin-bottom: 40px
  &__info
    margin-bottom: 30px 
  &__btn
    padding: 15px 20px
    width: 130px  
    +br(0)
    background-color: transparent
    border: 1px solid #c2c2c2
    span
      margin-left: 25px !important
  &__dropdown  
    padding-top: 0
    padding-bottom: 0
    margin: 0
    +br(0)
    li
      a
        &:hover
          background-color: #ff781a
  &__heading
    font: 400 34px/36px $cb
    color: #333
    letter-spacing: 1px
    margin: 0
    span
      font: 600 34px/34px $cel
      margin-right: 15px
      &:before
        display: inline-block
        content: ''
        margin: 0 5px 0 -7px
        width: 2px
        height: 24px
        background-color: #ff781a
  &__price    
    background-color: #ff781a
    +br(23px)
    text-align: center
    padding: 10px 20px
    width: 150px
    float: right
    color: #fff
    font: 400 20px/22px $cb
    text-transform: uppercase
    margin-top: 15px
.address
  margin-bottom: 35px
  &__text
    font: 400 14px/16px $os
    color: #333
    margin-bottom: 25px
    span 
      font: 400 17px/18px $os  
      border-bottom: 2px dashed #333
      margin-left: 5px
  &__point
    display: inline-block
    background-color: #f3f3f3
    +br(4px)
    padding: 5px 12px 5px 5px
    font: 400 14px/16px $cb
    color: #282828 
    margin-right: 15px
    margin-bottom: 10px
    .ic
      margin-right: 9px
.advantages
  background-color: #f1f1f1
  padding: 35px 0   
  margin: 0 -15px 40px -45px
  &__point
    text-align: center 
    font: 400 12px/14px $os
    .ic
      transform: scale(0.5)
+comment("contact style")
.contact
  padding-top: 15px
  &__heading
    color: #333
    font: 400 24px/26px $os
    margin: 0 0 30px
    &--line
      &:before
        display: inline-block
        content: ''
        margin: 0 5px 0 -7px
        width: 2px
        height: 18px
        background-color: #ff781a
  &__row
    margin-bottom: 15px
  &__point
    p
      font: 400 12px/16px $os
      color: #333
      opacity: 0.9  
      margin-bottom: 15px 
  &__text
    font: 400 14px/16px $os
    color: #333  
    p
      margin-bottom: 15px
    span
      color: #006fec
      text-decoration: underline
  &__link
    display: inline-block
    margin-top: 20px
    font: 400 14px/16px $os
    color: #006fec
    text-decoration: underline  
.net
  &__row
    margin-bottom: 40px
  &__text
    color: #ed812b
    font: 400 14px/16px $os
    text-decoration: underline
.gallery
  margin-bottom: 15px  
+comment("soon style")   
.soon
  &__row
    margin-bottom: 20px
  &__img
    margin-bottom: 10px
  &__naming
    margin-bottom: 15px
  &__link
    background-color: #00acdc  
    color: #fff
    display: inline-block
    width: 100%
    text-align: center
    text-transform: uppercase
+comment("footer style")    
.footer
  padding: 120px 0
  &__heading
    font: 400 14px/16px $os
    color: #333
    margin-bottom: 15px
  &__list
    padding-left: 0
    list-style-type: none 
  &__item  
    font: 400 14px/16px $os
    color: #666
    margin-bottom: 8px
  &__copy
    padding-top: 40px  
    font: 400 14px/16px $os
    color: #666
    a
      color: #00acdc