+comment('general style')
+font('Circe-Bold', 'Circe-Bold')
+font('Circe-ExtraBold', 'Circe-ExtraBold')
+font('Circe-ExtraLight', 'Circe-ExtraLight')
+font('Circe-Regular', 'Circe-Regular')
+ic
@each $ic in subway_red, subway_orange, adv1, adv2, adv3, adv4, adv5, adv6, sliderright, sliderleft, raspic
  .ic-#{$ic}
    +sb(#{$ic})
html
  overflow-x: hidden
  height: 100%
body
  padding-right: 0 !important  
  color: #000
a,
a:hover,
a:focus
  color: inherit
  text-decoration: none
  outline: none
.wrapper
  background-color: #f7f7f7
.sub-heading
  margin: 0
  font: 400 12px/14px 'Open Sans', sans-serif
  +opacity(0.9)
  color: #333
  &--block
    margin-bottom: 20px
+r(992)
  .pr
    padding-left: 45px
    padding-right: 45px
+comment("home page style")
.modal
  &__size--mob
    width: 300px
    margin: 30px auto 0
  &__map
    .modal__close
      opacity: 1
      position: absolute
      right: -25px
      top: -25px  
.dropdown
  &-menu 
    padding-top: 0
    padding-bottom: 0
    margin: 0
    +br(0)
    li
      a
        &:hover
          background-color: #ff781a 
  &-toggle
    padding: 20px 17px
    width: 130px  
    float: right
    +br(0)
    background-color: transparent
    border: 1px solid #c2c2c2
    font: 700 14px/18px $os
    .fa
      margin-left: 25px !important
.heading
  font: 600 34px/34px $cel
  color: #333
  letter-spacing: 1px
  margin: 0
  &--line
    &:before
      display: inline-block
      content: ''
      margin: 0 5px 0 -7px
      width: 2px
      height: 24px
      background-color: #ff781a
  &--bold
    font: 400 34px/36px $cb
+rx(767)
  .heading
    margin-bottom: 20px
+comment("header style")
.header
  padding-top: 27px
  background-color: #fff
  &__navbar
    margin-bottom: 40px
+rx(767)
  .header
    &__navbar
      margin-bottom: 0
+comment('section notification style')
.notification
  &__price    
    background-color: #ff781a
    +br(23px)
    text-align: center
    padding: 10px 20px
    width: 150px
    float: right
    color: #fff
    font: 400 20px/22px $cb
    text-transform: uppercase
    margin-top: 15px
+comment('section address style')
.address
  margin-bottom: 35px
  &__text
    font: 400 14px/16px $os
    color: #333
    margin-bottom: 25px
  &__link 
    font: 400 17px/26px $os  
    border-bottom: 2px dashed #333
    margin-left: 5px
+comment('underground style')
.underground
  &__point
    display: inline-block
    background-color: #f3f3f3
    +br(4px)
    padding: 5px 12px 5px 5px
    font: 400 14px/16px $cb
    color: #282828 
    margin-right: 15px
    margin-bottom: 10px
  &__icon
    margin-right: 9px
+comment('section advantage style')
.advantage
  background-color: #f1f1f1
  padding: 35px 50px   
  margin: 0 -45px
  &__col
    padding-left: 10px
    padding-right: 10px
  &__point
    margin: 5px 0
  &__text
    font: 400 11px/14px $os
  &__icon
    margin-right: 10px
+rx(767)
  .advantage
    margin: 0 -15px
    padding: 15px
+comment("section m-navbar style")
.m-navbar
  margin: 0 -15px
  &__list
    display: table-row
  &__item
    width: auto
    display: table-cell
    text-align: center
    padding-left: 2px
    border-left: 1px solid #000
    vertical-align: bottom
    background-color: #282828
  &__link
    padding: 15px 0
    width: 1000px
    display: table-cell
    vertical-align: middle
    color: #fff    
    &:hover,
    &:focus
      color: #d55b1f
+comment("section sidebar style")
.sidebar
  background-color: #f6f6f6
+rx(767)
  .rasp__heading
    margin-top: 23px
+comment("section contant style")
.contant
  padding-top: 42px 
  padding-bottom: 24px
  background-color: #fff
+rx(767)
  .contant
    padding-top: 0
    padding-bottom: 0
    background-color: transparent
+comment("section contact style")
.contact
  &__heading
    margin-bottom: 30px
    font: 400 24px/26px $os
    color: #333
+rx(767)
  .contact
    padding-top: 15px
    padding-bottom: 15px
.info
  margin-top: 21px
  margin-bottom: 21px
  &__body
    font: 600 15px/20px $os
    color: #333
    &--clossest
      font: 400 12px/16px $os
      color: #363636
  &__text
    font: 400 15px/20px $os
    color: #333
  &__link
    font: 400 15px/16px $os
    color: #0087dc
    text-decoration: underline
    &:hover,
    &:focus
      color: lighten(#0087dc, 15%)
      text-decoration: underline  
    &--geo
      display: block
      margin-top: 20px
    &--clossest
      font: 400 18px/21px $os
      color: #3e6fe8
    &--orange
      color: #ed812b
  &__map
    display: block
    height: 156px
    background: transparent url(../img/map.jpg) no-repeat scroll bottom center
+rx(767)
  .info
    margin-top: 12px
    margin-bottom: 12px
    &__heading
      margin-bottom: 10px
    &__map
      margin-left: -15px
      margin-right: -15px
.list
  &__item
    position: relative
    margin-right: 20px
    float: left

    &:last-of-type
      &:before
        content: none
    &:before
      content: '>'
      position: absolute
      margin-left: 5px
      margin-right: 5px
      left: 100%
  &__link
    font: 600 14px/16px $os
    color: #006fec
    text-decoration: underline
    &:hover,
    &:focus
      color: lighten(#006fec, 15%)
      text-decoration: underline  
    &--unstyled
      text-decoration: none
      color: #333
      cursor: default
      &:hover
        color: #333
        text-decoration: none     
+comment("section gallery style")
.gallery
  margin: 0 8px 15px 7px
  &__col
    width: 20%
    padding-left: 7px
    padding-right: 8px
  &__img
    height: 90px
    display: block
    +cover
    &--1
      background: transparent url(../img/gal1big.jpg) no-repeat no-repeat scroll 0 0
      +cover
    &--2
      background: transparent url(../img/gal2big.jpg) no-repeat no-repeat scroll 0 0
      +cover
    &--3
      background: transparent url(../img/gal3big.jpg) no-repeat no-repeat scroll 0 0
      +cover
    &--4
      background: transparent url(../img/gal1big.jpg) no-repeat no-repeat scroll 0 0
      +cover
    &--5  
      background: transparent url(../img/gal2big.jpg) no-repeat no-repeat scroll 0 0
      +cover
+rx(767)
  .gallery
    margin: 0 0 15px 0
    &__col
      padding: 0
    &__img
      height: 220px
+comment("section clossest style") 
.clossest
  position: relative
  margin-left: -15px
  margin-right: -15px
  padding: 27px 20px
  background-color: #fff
  &__icon
    position: absolute
    margin: 28px 20px
    top: 0
    right: 0
    opacity: .2
+comment("section soon style")   
.soon
  &__heading
    margin-bottom: 20px
    font: 400 24px/28px $os  
    color: #323232
  &__row
    margin-left: -7px
    margin-right: -8px
  &__col
    padding-left: 7px
    padding-right: 8px
    margin-bottom: 20px
.product
  margin: 10px 0
  &__img
    margin-bottom: 10px
  &__name
    margin-bottom: 15px
  &__btn
    display: block
    padding: 9px 18px
    width: 100%
    +br(5px)
    background-color: #00acdc
    font: 400 14px/16px $os  
    color: #fff
    +text-shadow(4px 4px 2px rgba(150, 150, 150, 1))
    text-align: center
    text-transform: uppercase
    &:hover,
    &:focus
      color: #fff
      text-decoration: none
+comment("footer style")    
.footer
  &__heading
    margin-bottom: 15px
    font: 400 14px/16px $os
    color: #333
    +opacity(0.45)
    text-transform: uppercase
  &__list
    padding-left: 0
    list-style-type: none 
  &__item  
    font: 400 14px/16px $os
    color: #666
    margin-bottom: 8px
  &__link
    &:hover,
    &:focus
      color: #f0641b
  &__copy
    padding-top: 40px  
    font: 400 14px/16px $os
    color: #666
    a
      color: #00acdc
+rx(767)
  .footer
    background-color: #f7f7f7
    position: relative
    margin: 0 -15px
    padding: 35px 15px 30px  
    &__city
      position: absolute
      right: 15px
      z-index: 25 
+r(768)
  .footer
    padding: 30px 0
    &__col
      margin-top: 15px
      &--clear
        clear: both
+r(992)
  .footer
    padding: 80px 0
    &__col
      &--clear
        clear: none
+r(1200)
  .footer
    padding: 120px 0


