+rx(767)

.rasp
  &__heading
    color: #323232
    font: 400 30px/36px $cr
    margin-bottom: 35px
    &-title
      display: inline-block
      float: left
      width: 70%
      color: #353535
      font: 400 24px/30px $cr
    &-box
      .ic
        float: right    